* {
    box-sizing: border-box;
  }
 
  
  body {
    margin: 0px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
 }
  /* NavBar */
  .nav {
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    padding-bottom: 5px;
    
  }
  .nav-title > a{
    text-decoration: none;
    color: orange;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  #search-bar{  
    border-radius: 5px;
    margin-left: 80px;
    width: 250px;
    height:80% ;
    border: solid 1px rgb(3, 3, 3);
    padding-right: 5px;
  }
  .Ask-question{
    float:right  
  }
  .nav-header{
    padding-left: 17px;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 20px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .nav > .nav-links > a:hover {
    color: orange;
  }
  
  .nav > #nav-check {
    display: none;
  }
  #user-nav{
   padding:5px;
   color:white
  }
  .fa-user-circle{
    padding:5px
  }

/* SIGN-UP LOG-IN FORM */
.sign-container{
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 9px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color:orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.9;
    margin-left: 5px;
    border-radius: 15px;
    
}
button:hover {
    opacity:1;
}

.cancelbtn, .signupbtn, {
  float: left;
  width: 30%;
  border-radius: 5px;
}

.signin-container {
    width:60%;
    margin: 0 auto;
    background: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* food cards */
.content{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;    
}
.content div{
    padding-top: 3px;
    width:200px;
    margin:20px;
    height: 400px;
    display:inline-block; 
    box-shadow: 0 3px 7px rgba(15, 15, 15, 0.3);  
}
.content img{
    width: 90%;
    height: 60%
}
.content p{
  display:inline-block;
}
.content div:hover{
    transition-duration: 0.3s;
    width: 210px;
    height: 410px; 
    box-shadow: 0 10px 15px rgba(15, 15, 15, 0.2);
}
/* ORDERS */
.orders{
    width:60%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.orders ul li{
    list-style: none;
    border-bottom: 0.5px solid rgb(0, 0, 0);
    padding-bottom: 20px
}
.orders ul li h2{
    display: inline-block;
}
.orders h4{
    display:inline-block;
}
.info-button{
    float: right;
}

#accept{
    background-color: rgb(191, 194, 1);;
}
.decline{
    background-color:  rgb(230, 75, 3);;
}
#info{
    display:none;
}
#deliver{
    background-color: orange;
    display: none;
}
#restore{
    background-color: rgb(191, 194, 1);
}
/* Shopping Cart */
.shopping-cart{
    width:60%;
    margin: 0 auto;
}
.shopping-cart h2{
    display: inline-block;
}
.shopping-cart ul li{
  list-style: none;
  border-bottom: 0.5px solid rgb(0, 0, 0);
}
.delete{
    background-color: rgb(230, 75, 3);
    float: right;
}
#place-order{
    float: right;
    margin-top: 7%;
    background-color: rgb(191, 194, 1);
}
/* FOOTER */
footer{
    margin-top: 10%;
    background-color: #000000;
    padding-bottom: 50px;
    height:100px ;
}
.footer-item{
    width: 100%;
    box-sizing: border-box;
}
.footer-item ul{
    display:inline-block;
    margin: 0px 30px 0px 30px;
    height:100%;
    text-align: left;
        
}
.footer-item li{
    list-style: none;
    color: white;
    
}

@media (max-width:800px) {
    /* navbar */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height:initial;
    overflow-y: auto;
    z-index: 3;
    padding-bottom: 10px;
  }
  #search-bar{
    margin-left: 8px;
    display: none
   
}
button{
    margin-left: 0px;
}
/* orders */
.orders{
    width:90%;
    margin-top: 20%;
    margin-bottom: 20%;
}
/* Shopping cart */
.shopping-cart{
    width:90%;
    margin-top: 20%;
    margin-bottom: 20%;
}
  /* SIGNUP CONTAINER */
  .sign-container {
  width:80%;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 10%;
}
#user-nav{
  display: none;
 }
 .nav-header > .nav-title > input{
     display: none;
 }

  /* footer */
  footer{
      height: 110px;
      margin-top: 40%
  }
}
